<head>
  </head>

<navigation></navigation>

<div class="container">

  <form ng-submit="vm.onSubmit()" class="form-style" id="form-style">
    <h1>Registrazione Utente
    </h1>


    <!--  Nome e Cognome  -->

    <label for="name">
    <span>Nome e Cognome:</span>
    <input type="text" class="form-control" id="name"  ng-model="vm.userData.name" required>
    </label>

    <!--  Email  -->
    <label for="email">
       <span> Indirizzo email: </span>
    <input type="email" class="form-control" id="email"  ng-model="vm.userData.email" required>
    </label>

    <!--  Password  -->
    <label for="password">
      <span>Password:</span>
    <input type="password" class="form-control" id="password"  ng-model="vm.userData.password" required>
    </label>

    <!--  Submit & Reset  -->
    <button type="submit" class="form-control">Registra Utente</button>
    <button type="reset" value="Reset" class="form-control"> Ripristina </button>
  </form>
</div>